@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

.app {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.pd-fr {
    padding: 0 100px;
}

.size-sm-img {
    width: 100px;
}

.font-color {
    color: #fff;
}