<div class="mt4 home-card">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc Ngay</button>
        </div>

        <div class="col-lg-3">
            <h2> {{felidae.name}} </h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{felidae.videoId}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <p>{{felidae.description}}</p>
        </div>
    </div>
</div>