<div class="mt-4">
    <form method='POST' action="">
        <div class="mb-3">
            <label class="form-label">Searcher</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keyword...">
        </div>

        <div class="mb-3">
            <label class="form-label">Searcher</label>
            <select name="gender" class="form-control" id="select">
                <option value="">--Select gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>