<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid  nav-header pd-fr">
    <a class="navbar-brand" href="/">Felidea</a>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <a>
              Username
            </a>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" aria-current="page" href="/felidaes/create">Create Felidae</a></li>
            <li><a class="dropdown-item" href="/me/stored/felidaes">My Felidae</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>